<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>DOPE RECIPE!</h1>
        <h2>Name: <%= @recipe.name%></h2>
        <h2>Ingredients: <%= @recipe.ingredients%></h2>
        <h2>Cook time: <%= @recipe.cook_time%></h2>
        <br>
    <h2>Delete</h2>
          <form action="/recipes/<%= @recipe.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type ="submit" value="delete">
  </body>
</html>